body {
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.signupcontainer{
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

h1 {
    color: white;
    text-align: center;
}

form {
    flex-direction: column;
    display: flex;
}

input {
    padding: 20px;
    margin-top: 40px;
}

input::placeholder{
    color: black;
}

button {
    padding: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    align-self: center;
}

button:hover {
    background-color: purple;
}

.signupcontainer form p {
    text-align: center;
}