body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#newTask {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color:steelblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#newTask:hover {
    background-color: rebeccapurple;
}

#tasksList {
    list-style-type: none;
    padding: 0;
}

#tasksList li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#tasksList li h2 {
    margin: 0 0 10px;
}

#tasksList li small {
    display: block;
    color: #666;
}

#tasksList li p {
    color: #333;
}

.edit, .delete {
    display: inline-block;
    margin: 10px 0 0;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.edit {
    background-color:darkslategrey;
}

.delete {
    background-color:darkred;
}

.edit:hover {
    background-color:#ccc;
}

.delete:hover {
    background-color:red;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button.full {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:seagreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form button.full:hover {
    background-color:steelblue;
}
