body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.holder {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #4b0082;
    margin-bottom: 20px;
}

#newTask {
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

#newTask:hover {
    background-color: #370061;
}

#tasksList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tasksList li {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}

#tasksList li h2 {
    color: black;
    margin-top: 0;
}

#tasksList li small {
    display: block;
    color: #555;
}

#tasksList li p {
    margin: 5px 0;
}

#tasksList li .edit,
#tasksList li .delete {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#tasksList li .edit {
    background-color: #4b0082; /* Purple background for Edit */
}

#tasksList li .edit:hover {
    background-color: #370061;
}

#tasksList li .delete {
    background-color: #ff0000; /* Red background for Delete */
    margin-left: 10px;
}

#tasksList li .delete:hover {
    background-color: #cc0000;
}

form {
    text-align: left;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form button.full {
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0;
}

form button.full:hover {
    background-color: #370061;
}

footer {
    margin-bottom: auto;
    text-align: left;
    bottom: 0;
    position: fixed;
}